.container {
  margin: 0 auto;
  max-height: 100vh;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: rgb(224, 224, 224);
}

.row-items {
  display: flex;
  flex-direction: row;
}

.column-items {
  display: flex;
  flex-direction: column;
}

.row1 {
  height: 45vh;
}

.row2 {
  height: 50vh;
}

.graph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(230, 230, 230);
  flex-grow: 1;
}